@font-face {
  font-family: 'PoppinsRegular';
  src: url('fonts/PoppinsRegular.ttf');
}

@font-face {
  font-family: 'PlaywriteRegular';
  src: url('fonts/PlaywriteINRegular.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-image: url('images/background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  background-blend-mode: overlay;
  position: absolute;
  color: white;
}

.topnav {
  font-family: 'PlaywriteRegular';
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.profile_image {
  text-align: center;
  margin-top: 30px;
}

.profile_image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px soolid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.about_heading {
  font-family: 'PlaywriteRegular';
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: white;
}

.about_description {
  font-family: 'PoppinsRegular';
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: white;
  padding-left: 340px;
  padding-right: 340px;
}